# Required environment variables
JWT_SECRET=
DOMAIN=localhost
RATELIMIT_KEY=


# Development database credentials (required by the application)
DEV_MYSQL_HOST=localhost
DEV_MYSQL_USERNAME=aime
DEV_MYSQL_PASSWORD=aime
DEV_MYSQL_DATABASE=aime

# Production database credentials (required by the application)
PROD_MYSQL_HOST=localhost
PROD_MYSQL_USERNAME=aime
PROD_MYSQL_PASSWORD=aime
PROD_MYSQL_DATABASE=aime

# Additional configuration
CLIENT_PORT=3000
SERVER_PORT=3001

#Cloudflare turnstile
CFTurnstileKey=1x00000000000000000000AA

# CDN Configuration
CDN_URL=
